
.back{
  margin: 70px auto;
  box-shadow: -70px 40px 35px 0px rgba(110,110,110,1);
}

html {  
  box-sizing: border-box; 
}
* , *:before , *:after { 
  box-sizing: inherit; 
    -moz-box-sizing: border-box; 
-webkit-box-sizing: border-box; 
box-sizing: border-box;
}

body {
    background-image: url("https://sdm.scad.edu/faculty/mkesson/vsfx705/wip/best/fall09/stephen_withers/particlecache/Curves02.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center; 
}
.container{

  background: #01356E;
  background: -moz-linear-gradient(-45deg, #01356E 0%, #01356E 40%, rgba(2,173,203,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #01356E, color-stop(40%, #01356E, color-stop(100%, rgba(2,173,203,1))))));
  background: -webkit-linear-gradient(-45deg, #01356E 0%, #01356E 40%, rgba(2,173,203,1) 100%);
  background: -o-linear-gradient(-45deg, #01356E 0%, #01356E 40%, rgba(2,173,203,1) 100%);
  background: -ms-linear-gradient(-45deg, #01356E 0%, #01356E 40%, rgba(2,173,203,1) 100%);
  background: linear-gradient(135deg, #01356E 0%, #01356E 40%, rgba(2,173,203,1) 100%);
  background-size: cover;  

  height: 1450px;
  width: 1024px;
  z-index: 1;
}


.cv {
  margin-top: 17px;
  background: #ffffff;
  
  height: 1416px;
  width: 990px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;

  border: solid;
  border-color: #CEE0F6;
  z-index: 2;
}

.circle {
    position: absolute;
    width:18px;
    height:18px;
    border-radius:9px;
    background-color: #074494;
    z-index: 3;
}

.blue1 {
  margin: 333px 0px 0px 326px;
}
.blue2 {
  margin: 495px 0px 0px 326px;
}
.blue3 {
  margin: 765px 0px 0px 326px;
}
.blue4 {
  margin: 1238px 0px 0px 326px;
}


.img-circle {
  height: 240px;
  position: absolute;
  margin: 50px 0px 0px 50px;
}

.section-picture {
  height: 24%;
}

.img-pdf {
    position: absolute;
    top: 0px;
    right: 370px;
    width: 70px;
    height: auto;
}

.img-pdf:hover {
 width: 100px;
}

.section-right {
  margin-top: 80px;
}
.name {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 85px;
  text-align: center;
  margin: -40px 0px 0px 0px;
}

.job {
  font-family: 'Alegreya Sans', sans-serif;
  text-align: center;
  color: #2198DA;
  font-size: 24px;
  letter-spacing: 6px;
  font-weight: bold;
  margin-top: 10px;
}

.section-address1 {
  width: 125px;
}

.section-address1 li {
  font-weight: bold;
  padding: 0px 0px 30px 30px;
}

.section-address1 .address {
  padding: 0px 0px 80px 30px;
}

.section-address2 {
   margin: 0px 0px 30px -10px;
  width: 200px;
}
.section-address2 li {
  padding: 15px 0px 15px 30px;
}

.section-address2 .address {
  padding: 0px 0px 22px 30px;
}

.link {
  font-size: 14px;
}

h3 {
  font-weight: bold;
  margin: -10px 0px 10px 45px;
  letter-spacing: 2px;
}

.edu-box {
  margin-left: 30px;
}

.h3-edu {
  font-weight: bold;
  margin: 0px;
  letter-spacing: 3px;
}

.ll {
  padding: 30px 70px 20px 15px;
}

h4 {
  font-weight: bold;
  margin: 35px 0px 20px;
  letter-spacing: 1px;
}

.section-info .col-md-4 {
  padding: 0px;
}

.col-md-8 {
  padding: 0px;
}
.intro-text {
   margin: 20px 55px 40px 45px;
   text-align: justify; 
}

.section-skills {
    margin: 0px -35px 0px 20px; 
    border-bottom: solid transparent;
    border-left: solid; 
    border-width: 4px;

  -moz-border-image: -moz-linear-gradient(top, #043F8D 0%, #4D74AD 25%, rgba(255,255,255,1)) 1 0 0 100%;
  -webkit-border-image: -webkit-gradient(left top, left bottom, color-stop(0%, #043F8D, color-stop(25%, #4D74AD, color-stop(100%, rgba(255,255,255,1)))));
  -webkit-border-image: -webkit-linear-gradient(top, #043F8D 0%, #4D74AD 25%, rgba(255,255,255,1)) 1 0 0 100%;
  -o-border-image: -o-linear-gradient(top, #043F8D 0%, #4D74AD 25%, rgba(255,255,255,1)) 1 0 0 100%;
  -ms-border-image: -ms-linear-gradient(top, #043F8D 0%, #4D74AD 25%, rgba(255,255,255,1)) 1 0 0 100%;
  border-image: linear-gradient(to bottom, #043F8D 0%, #4D74AD 25%, rgba(255,255,255,1)) 1 0 0 100%;

}

.skills-list {
  margin: 20px 55px 40px 21px;
  text-align: justify;
}

.img-hobby {
    width: 80%;
    height: auto;
    margin: 5px 0px 0px 55px;
}